body, html {
    height: 100%;
    margin: 0;
}
.background{
  background-image: url('background.jpg');
  height: 100%;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Start Navbar */
nav{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
/* End Navbar */
/* Start Video-Background */
.homepage-video {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  position: relative;
}
.video-container {
  position: relative;
}
.video-arrow-container {
	position: absolute;
	bottom: 20%;
	width: 100%;
	font-size: 40px;
}
.video-arrow-container span {
	color: #fff;
}
.video-arrow-container a:hover {
	text-decoration: none;
}
/* End Video-Background */
/* Start gallery */
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
/* End gallery */
#box
{
	background: white;

	-webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#box-inner
{
	background: white;
	margin-top: -50px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	/* transform z-index hack */
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#box:before
{
	content: '';
	position: relative;

	margin-left: 25px;
	top: -10px;

	background: white;
	display: block;
	width: 50px;
	height: 50px;

	-webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);

	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#box
{
	margin: 50px auto;
	width: 400px;
}

#box-inner
{
	padding: 50px;
	font-size: 25px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
